<footer>
  <div class="footer-container">
    <% if (locals.isLoggedIn) { %>
      <a class="logout" href="/auth/logout">Log Out</a>
    <% } %>
    <p>Site created with &#9829; by Charlotte Resnick</p>
  </div>
</footer>