<header>
  <img class="logo" src="/assets/final-logo.png" alt="">
  <div class="nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/search">Search</a>
    <a href="/collections">My Collections</a>
  </div>
</header>