<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail App Main</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Abel&&family=Lato:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <%- include(`../partials/header`) %>

  <%- include(`../pages/${pageName}`, locals) %>
  
  <%- include(`../partials/footer`) %>
</body>

</html>