<div class='main-container'>
  <div class="about-container">
    <h1>About</h1>
    <div class="about-text">Drink Finder lets you browse a collection of drinks, create collections and save your favorite recipes.
      Enjoy!
    </div>
  </div>
  <a class ="back-to-results-btn" href="javascript:history.back()">&#8592; Go Back</a>
</div>