<div class="main-container">
  <div class="collections-container" action='/collections'>
    <h1>Your Collections</h1>
    <div class="collections-list">
      <div class="collection">
        <h3 class="collection-name">The Classics</h3>
      </div>
      <div class="collection">
        <h3 class="collection-name">Frozen Cocktails</h3>
      </div>
      <div class="collection">
        <h3 class="collection-name">Holiday Party</h3>
      </div>
      <div class="collection">
        <h3 class="collection-name">NYE Cocktails</h3>
      </div>
      <div class="collection">
        <h3 class="collection-name">Summer Drinks</h3>
      </div>
    </div>
  </div>
</div>