<div class='main-container'>
  <h1>Welcome to Drink Finder!</h1>
  <h2>Create and share collections of your favorite drinks from our recipes.</h2>
  <div class="main-btn-container">
    <% if (locals.isLoggedIn) { %>
      <a class="main-search-btn" href="/search">Search</a>
    <% } else { %>
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
    <% } %>
  </div>
</div>