<div class="main-container">
  <h1>Register</h1>
  <form class="form" method='POST' action='/user'>
    <input class="credential" name='username' type='text' placeholder='username' required />
    <input class="credential" name='email' type='email' placeholder='email' required />
    <input class="credential" name='password' type='password' placeholder='password' required />
    <input class="btn" type='submit' value='Register!' />
  </form>
</div>