<div class="main-container">
  <div class="back-to-search">
    <a href="/search">&#8592; Back to Search</a>
  </div>
  <div class="search-results">
    <% locals.cocktails.forEach(cocktail => { %>
      <a class="cocktail" href="recipe/<%- cocktail.id %>">
        <h3><%-`${cocktail.name}` %></h3>
        <img class="cocktail-img" src="<%- cocktail.image %>" alt="cocktail image">
      </a>
    <% }) %>
    <% if (locals.cocktails.length === 0) { %>
      <div class="no-collections">
        <img class="empty-glass" src="/assets/empty.gif" alt="">
        <div class="empty-collection-msg">
          <h2>Oh no! Your search returned a whole lot of nothin'. Try again!</h2>
        </div>
      </div>
     <% } %>
  </div>
</div>