<div class="main-container">
  <div class="wrapper">
    <div class="search_box">
        <form class="search-form" action="/results" method="GET">
          <input class="input" type="text" name="s" placeholder="Search for cocktails">
          <input class="search-btn" type="submit" />
        </form>
    </div>
  </div>
</div>