.search-results {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.search-results>* {
  flex: 1 2 200px;
}

.cocktail {
  border: 2px solid white;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  background-color: white;
}
